bin/
obj/
.vs/
.idea/
.vscode/
TestResults/
artifacts/
publish/
packages/
*.user
*.suo
*.nupkg
*.appx
*.appxbundle
*.msix
*.msixbundle
[Dd]esktop.ini
installer/build/
installer/dist/
installer/msix/build/
installer/msix/dist/
installer/msix/certs/
